{% extends "base.html" %}
{% block header %}
<div class="row">
	<div class="logo">
		<a href="index.html">Khronos</a>
	</div>
</div> 
{% endblock %}

{% block content %}
<section id="home" class="home-particles">

<div class="shadow-overlay"></div>
   	<div class="content-wrap-table">		   
		<div class="main-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">

		   			<div id="counter">
		   				<div class="half">
		   					<span> Bopify </span>
		   				</div> 
		   			</div>

			  		<div class="bottom-text">
			  			<h1> Please log in. </h1>
			  			<form method = "post">
				  			<input type="submit" name="submit" value="Login">
				  		</form>
			  		</div>			  						  			   			
			   	</div>
			</div> <!-- /row -->  
		</div>    
	</div> <!-- /content-wrap -->
</section> 
{% endblock %}