{% extends "base.html" %}
{% block header %}
<div class="row">
	<div class="logo">
		<a href="index.html">Khronos</a>
	</div>
</div> 
{% endblock %}

{% block content %}
<section id="home" class="home-particles">

<div class="shadow-overlay"></div>
   	<div class="content-wrap-table">		   
		<div class="main-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">
		   			<div id="counter">
		   				<div class="half">
		   					<span> Bopify </span>
		   				</div> 
		   			</div>
					  			   			
		  			<div class="bottom-text">
			  			<h1> Session songs. </h1>
			  			<table class="table">
			  				{% for song in songs %}
							<tr>
								{% if song[2] %}
								<td>{{ song[2] }}</td>
								{% elif is_master %}
								<form method="post">
									<input type="hidden" name="name" value="{{ song[2] }}">
									<td>
										<button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
									</td>
								</form>
								{% endif %}
							</tr>
							{% endfor %}
			  			</table>

			  			{% if is_master %}
							<form method="post">
								<input type="hidden" name="play">
								<button class="btn btn-lg btn-primary btn-block" type="submit">Play</button>
							</form>
						{% else %}
							<a class="btn btn-default">Sync</button>	
						{% endif %}

				  		<form action="" method="post" name="search">
					  	  {{ search.hidden_tag() }}
						  <p> Search:  {{ search.query() }}<br> </p>
						  <p> {{ search.search() }} </p>
						</form>

						<table class="table">
							{% for song in queried %}
							<tr>
								<td>{{ song["name"] }}</td>
								<td>
									<a class="btn btn-default" href="{{ url_for('queue', sessid=sessid, 
										songid=song['id'], songname=song['name'], ismaster=is_master) }}">
									{% if is_master %} Queue
									{% else %} Propose
									{% endif %}
									</a>
								</td>
							</tr>
							{% endfor %}
			  			</table>

						<ul>
						</ul>
			  		</div>
			   	</div>
			</div> <!-- /row -->  
		</div> <!-- /main-content --> 
		   
	</div> <!-- /content-wrap -->
</section> 
{% endblock %}
