{% extends "base.html" %}
{% block header %}
<div class="row">
	<div class="logo">
		<a href="index.html">Khronos</a>
	</div>

	<div class="social-links">
	   <button type="button" class="btn btn-default" id="create" data-toggle="modal" data-target="#createModal">Create</button>
	   <button type="button" class="btn btn-default" id="join" data-toggle="modal" data-target="#joinModal">Join</button>
	</div>
</div> 
{% endblock %}

{% block content %}
<section id="home" class="home-particles">
   	<div class="shadow-overlay"></div>
   	<div class="content-wrap-table">		   
		<div class="main-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">
		   			<div id="counter">
		   				<div class="half">
		   					<span> Bopify </span>
		   				</div> 
		   			</div>

			  		<div class="bottom-text">
			  			<h1> Come bop with us. </h1>
			  			<table class="table">
			  				<tr>
			  					<td>Name</td>
			  					<td>Genre</td>
			  					<td>Link</td>
			  				</tr>
			  				{% for session in sessions %}
			  				<tr>
			  					<td>{{ session[1] }}</td>
			  					<td>{{ session[2] }}</td>
				  				<td>
				  					<a class="btn btn-default" href="{{ url_for('room', sessid=session[0]) }}">Listen</button>
				  				</td>
			  				</tr>
				  			{% endfor %}
			  			</table>
		  			</div>			  						  			   			

			   	</div>
			</div> <!-- /row -->  
		</div> <!-- /main-content --> 
		   
	</div> <!-- /content-wrap -->
</section> <!-- /info -->

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
		<form action="" method="post" name="create">
	  	  {{ create.hidden_tag() }}
		  <p> Session Name:  {{ create.session() }}<br> </p>
		  <p> Session Genre: {{ create.genre() }}<br> </p>
		  <p> {{ create.create() }} </p>
		</form>
	</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
		<form action="" method="post" name="join">
	  	  	{{ join.hidden_tag() }}
	  	  	<p> {{ join.session() }} </p>
		  	<p> {{ join.join() }} </p>
		</form>
	</div>
  </div>
</div>

{% endblock %}